<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user %>'s word list</title>
    <link rel="stylesheet" href="/public/css/tailwind.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
</head>
<body>
	<%- include ('includes/header.ejs') %>
    <div class="flex h-screen flex-col justify-center items-center">
        <div>
            <h1 class="text-white ml-4">Words : <%= Array.isArray(word) ? word.length : 0 %> definitions</h1>
            <div class="grid grid-cols-2 p-4 gap-4">
			<% if (!Array.isArray(word)) { %>
				<div class="p-6 text-blue-500 text-center mb-none truncate shadow-lg rounded-md bg-gray-900">
					<%- word %>
				</div>  
            <% } else if (word.length === 1) { %>
                <div class="p-6 text-blue-500 text-center mb-none truncate shadow-lg rounded-md bg-gray-900 col-span-2">
					<%- word %>
				</div> 
            <% } else { %>
            <% for (var i = 0; i < word.length; i++) { %> 
            <% let links = link + `&word=${word[i]}&page=1` %>
			<a href="<%= links %>">
			<div class="p-6 text-blue-500 text-center mb-none truncate shadow-lg rounded-md bg-gray-900">
                    <%- word[i] %>
			</div>        
			</a>
            <% } %>
			<% } %>
        </div>
        </div>
    </div>
</body>
<script src="/public/js/ext.js"></script>
</html>